<% layout("layout") %>
    <div id="wrapper">

    <div id="sidebar-wrapper">
        <div class="sidebar-brand">

        </div>

        <ul class="sidebar-nav">

            <div class="profile_info">

            </div>

        </ul>
    </div>


    <div id="page-content-wrapper">
      <% include partials/nav %>
        <div class="container-fluid main_body">
           <div class="row">
	        </div>
        </div>
    </div>

</div>
